runs/
.idea/
face_recognition-master/
ultralytics-main/
skud.egg-info/

feast/data/online_store.db
feast/data/registry.db

airflow/logs
airflow/airflow.db
airflow/airflow-webserver.pid
airflow/webserver_config.py
airflow/standalone_admin_password.txt

images/
models/crowdhuman_yolov5m.pt